@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4 mt-4">Welcome</h1>
        <h5>The event exchanging ticket system is now available for free!</h5>
    </div>
</div>


<div class="container">
    <div class="row g-0 bg-light position-relative rounded shadow-sm ">
        <div class="col-md-3 m-3">
            <i class="bi bi-calendar-check m-3" style="font-size: 2rem;"></i>
        </div>
        <div class="col-md-9 m-4">
            <h5 class="mt-0">See what happens Today</h5>
            <h5>Browse events</h5>
            <a href="#" class="stretched-link"></a>
        </div>
    </div>
</div>






  
