@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="d-grid gap-2 text-center">
        <div>
            <h1 class="display-4 mt-4">Welcome</h1>
        </div>
        <div>
            <h4>The event exchanging ticket system is now available for free!</h4>
        </div>
    </div>
</div>


@*menu centerd *@
<div class="container">
    <div class="row w-75 mx-auto mt-5 shadow rounded">
        <div class="col-12 bg-light py-3 position-relative">
            <a class="stretched-link text-decoration-none text-body" asp-area="" asp-controller="Ticket" asp-action="Today">
                <span class="d-inline-flex align-items-center justify-content-center  text-warning rounded m-1 me-2" style=" width: 40px; height: 40px;">
                    <i class="bi bi-calendar-check" style="font-size: 2.5rem;"></i>
                </span>
                <span class="h4 ps-md-5">
                    Find all events today
                </span>
            </a>
        </div>
    </div>

    <div class="row w-75 mx-auto mt-3 shadow rounded">
        <div class="col-12 bg-light py-3 position-relative">
            <a class="stretched-link text-decoration-none text-body" asp-area="" asp-controller="Ticket" asp-action="Weekend">
                <span class="d-inline-flex align-items-center justify-content-center  text-success rounded m-1 me-2" style=" width: 40px; height: 40px;">
                    <i class="bi bi-calendar-day" style="font-size: 2.5rem;"></i>
                </span>
                <span class="h4 ps-md-5">
                    Events this weekend
                </span>
            </a>
        </div>
    </div>

    <div class="row w-75 mx-auto mt-3 shadow rounded">
        <div class="col-12 bg-light py-3 position-relative">
            <a class="stretched-link text-decoration-none text-body" asp-area="" asp-controller="Ticket" asp-action="Custom">
                <span class="d-inline-flex align-items-center justify-content-center  text-danger rounded m-1 me-2" style=" width: 40px; height: 40px;">
                    <i class="bi bi-calendar-plus" style="font-size: 2.5rem;"></i>
                </span>
                <span class="h4 ps-md-5">
                    Custom Search 
                </span>
            </a>
        </div>
    </div>
</div>

<div class="mb-5"></div>






