@model TicketFormViewModel;

@{
    ViewData["Title"] = "Add new ticket";
}


<div class="container">
    <div class="d-grid gap-2 text-center">
        <div>
            <h2 class="display-4 mt-4">@ViewData["Title"]</h2>
        </div>
    </div>
</div>

<div class="mb-3"></div>

<partial name="_TicketFormPartial" />

@section Scripts{

    <partial name="_ValidationScriptsPartial" model="@Model" />

    <script type="text/javascript">
        configFlatpickr = {
            enableTime: true,
            time_24hr: true,
            minDate: "today",
            dateFormat: "d.m.Y H:i"
        }

       flatpickr(".datepicker", configFlatpickr);

        //let eventDateTime = flatpickr(document.getElementById('EventDate'), configFlatpickr);

        $('#form1').submit((e) => {
            $('#EventDate').val(eventDateTime.latestSelectedDateObj.toLocaleString());
        });
    </script>
}